
.contact{

    text-align: center;

}





.contact>div {display:inline-block;
}
.contact form {text-align:right;
}



  .contact-form  {
    display: flex;
    justify-content: center;
    float: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
 
  }
  #contact-form input {
   
    margin-bottom: 14px;
    width: 500px;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    padding-left: 15px;
    height: 44px;
    border-radius: 0;
    position: relative;
    margin-right: 24px;

  }
   #contact-form textarea {
    margin-bottom: 14px;
    width: 400px;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    padding: 15px;
    height: 218px;
    border-radius: 0;
  }
   #contact-form .btn {
    width: 400px;
    border-radius: 0;
    border: 1px solid #333;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
  }
 #contact-form .btn:hover {
    background: rgba(51, 51, 51, 0.7);
  }


  /*clases para el form*/

  .tamañodivdecontacos{

    width: 1200px !important;
    float: left !important;
    margin-left: 123px;

  }

  .contactoflitante{
    float: left;

  }