.DiseñoTitle{

    position: absolute;
    top: 30%;
    left:30%;
    transform: translate(-50%, -100%)!important;
    font-size:3vw !important;
    font-family: 'Playfair Display', serif;
    color: white!important;
width: 50%;
}

.DivRowDiseño{
    text-align: center;

}
 
.prue{
    min-height:40vw;
      background-size: 25px 50px;
      background-size: 100% 100%;
      background-image: url(../img/DI2.jpg);
      color:rgba(255, 255, 255, 0.788);

      clear: both!important;
      width: 100% !important;
      margin: 0 auto 0 !important;
      position: relative !important;
      max-width: 80% !important;;
    
    
    }
    .DiseloTitl2{
        color: white!important;
        position: absolute;
        top:45%;
        left: 20%;
        width: 30%;
        transform: translate(-50%, -100%)!important;
        font-size:1.4vw !important;
        font-family: Georgia, 'Times New Roman', Times, serif;
    
    }
    .prue:before {
        content:'';
        position: absolute;
            top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(82, 79, 79, 0);
    }
    .fotoIconosDiseño{
        display:block;
        margin:auto;
        height: 5vw;
        width: 5vw;
    }