
.header-general {
  text-align: center;
  left: 0;
  right: 0;
  z-index: 99;
  position: relative;
}

/*NAV */ 

nav{
  font-family: 'Playfair Display', serif;


}

.navbar-brand{

font-size: 60px!important;
}
.nav-link{
  color:black!important;
}

.nav-general{
background: white!important;

height: 100% !important;
min-height: 100% !important; 
clear: both;
width: 100%;
margin: 0 auto 0;
position: relative;
max-width: 1400px;
}
.nav-link:hover  {

      
  border-top:3px solid hsla(0, 7%, 45%, 0.274);
  border-bottom:3px solid hsla(0, 7%, 45%, 0.274);
   
}



@media (max-width: 600px) {

.nav-general{
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  height: 70px;
  align-items: center;
}

.nav-links {
  margin-left: 40px;
}

}




/**/
.GlobalBody{
  min-height: 100vh !important;
position: relative;
 margin-bottom: 110px;

}
.centrado{
  clear: both!important;
width: 100% !important;
margin: 0 auto 0 !important;
position: relative !important;
max-width: 1400px !important;

}





.texto{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:1000% !important;
  font-family: 'Playfair Display', serif;

}

.TextoPruebaAbout{
  
  width: 100%!important;
  min-width: 100%!important;
  font-family: 'Playfair Display', serif;
float:center;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

}

img {
  height: auto!important;
  max-width: 100%!important;
  }

.texto3{
 
  /* IMPORTANTE */
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

hr {
  height: 80%;
  }

.ml2 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml2 .letter {
  color:black!important;
  display: inline-block;
  line-height: 1em;
}



.divisor
{
	padding-bottom: 90px;
}

.divider
{
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-arrow-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: white;
	border-bottom: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}




/**/


