body{
    height: 100%;
    min-height: 100%;
}
.prueba{
   min-height: 90vh !important;
}

nav{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.info-color{
  background: aquamarine!important;
}
.nav-link:hover  {
  
        
    border-top:3px solid yellowgreen;
    border-bottom:3px solid yellowgreen;
     
}


  
@media (max-width: 600px) {

  .info-color{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .nav-links {
    margin-left: 40px;
}

}

.ml2 {
    font-weight: 900;
    font-size: 3.5em;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }




