body{
    height: 100%;
    min-height: 100%;
}
.prueba{
   min-height: 100vh !important;
}

nav{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.info-color{
  background: aquamarine!important;
}
.nav-link:hover  {
  
        
    border-top:3px solid yellowgreen;
    border-bottom:3px solid yellowgreen;
     
}


  
@media screen and (max-width: 600px) {

  .info-color{
    position: absolute!important;
    right: 0!important;
    top: 0!important;
  }
  .info-color a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .info-color a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  nav.responsive {position: relative;}
  nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  nav .dropdown {float: none;}
  nav .dropdown-content {position: relative;}
  nav .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.ml2 {
    font-weight: 900;
    font-size: 3.5em;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }




