.MantenimientoTitle{

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -100%)!important;
    font-size:5vw !important;
    font-family: 'Playfair Display', serif;
}
.botonInfo{
    color: #fff!important;
    background: #B22222;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    min-width: 170px;
    max-width: 100%;
    padding: 0.8vw ;
    display: inline-block;
    vertical-align: middle;
    max-height: 50px;
    
}
.botPrueba{
    margin-bottom: 5%!important;
}
.margenmant{
    border-bottom: 1px rgba(128, 128, 128, 0.308) solid;
    width: 100%;
font-size: 1.2vw;
}
.TituloMAnt{
    background-color: #B22222;
    color: white;
    padding-bottom: 1vw;
}
.PrecioMant{

    background-color: rgba(207, 203, 203, 0.705);
    margin-top: -2.6%;
}
.MantTitulo{
    font-size: 2vw;
}
.linea{
margin-top: 0vw;
    border-top: 3px #B22222 solid;
  }
.DescTitle{

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -100%)!important;
    font-size:1.5vw !important;
    font-family: 'Playfair Display', serif;
    width: 90%;
}

  
.prue{
    min-height:40vw;
      background-size: 25px 50px;
      background-size: 100% 100%;
      background-image: url(../img/mantenimiento2.jpg);
      color:rgba(255, 255, 255, 0.788);

      clear: both!important;
      width: 100% !important;
      margin: 0 auto 0 !important;
      position: relative !important;
      max-width: 80% !important;
    
    
    }
    .prue:before {
        content:'';
        position: absolute;
            top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.6);
    }