.MantenimientoTitle {

    position: absolute;
    margin-top: 18%;
    margin-left: 27%;
    transform: translate(-50%, -100%) !important;
    font-size: 2.3rem;
    font-family: 'Playfair Display', serif;
    color: white !important;
    width: 45%;
}

.DescTitle {
    margin-top: 3vw;

    color: white !important;
    position: absolute;
    margin-top: 26%;
    margin-left: 22%;
    width: 35%;
    transform: translate(-50%, -100%) !important;
    font-size: calc(0.3em + 1vw);
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.BotonMantenimiento {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-size: 1.5rem !important;

    padding: 0.5vw 2vw;
color: white!important;

    position: absolute;
    margin-top: 32%;
    margin-left: 12%;
    transform: translate(-50%, -100%) !important;
    background: none;
    border: 1px white solid;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    -webkit-user-select: none;
    /* for button */
    -webkit-appearance: button;
    /* for input */
    -moz-user-select: none;
    -ms-user-select: none;


}

.BotonMantenimiento:hover {
    background-color: rgba(255, 255, 255, 0.294);
}

.DescMant {

    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50%;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9rem;

}

hr.verticalMant {
    width: 2px;
    height: 2vw;
    background-color: #B22222;
    margin-top: 3vw;
    /* or height in PX */
}

.TituloMAnt1 {
    margin-top: 2vw;
    text-align: center !important;
    width: 80%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    margin-left: auto;
    margin-right: auto;
}

.TituloMAnt2 {
    text-align: center !important;
    width: 80%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 2vw;
    font-size: 1.3rem;
    margin-left: auto;
    margin-right: auto;
}

.LineaMant {
    width: 10%;
    background: #B22222 !important;
}


.botonInfo {
    color: #fff !important;
    background: #B22222;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    text-align: center!important;
    min-width: 170px;
    max-width: 100%;
    padding: 0.8vw;
    display: inline-block;
    vertical-align: middle;
    max-height: 50px;
    margin-left: auto!important;
    margin-right: auto!important;

}

.EspacioBotonTabla {
    margin-bottom: 5% !important;
}
.centrarTablas{
    margin-left: auto;
    margin-right: auto;
}
.margenmant {
    border-bottom: 1px rgba(128, 128, 128, 0.308) solid;
    width: 100%;
    font-size: 0.9rem;
}

.TituloMAnt {
    background-color: #B22222;
    color: white;
    padding-top: 1vw;

    padding-bottom: 1vw;
    font-family: 'Playfair Display', serif;
padding-left: 8%;
font-size: 1.9rem;
}


.centrar{
    -webkit-box-shadow: 35px 47px 145px -105px rgba(0,0,0,1);
    -moz-box-shadow: 35px 47px 145px -105px rgba(0,0,0,1);
    box-shadow: 35px 47px 145px -105px rgba(0,0,0,1);
    color:black;


  }
  .CentrarBoton{

text-align: center;
  }
.derechaMant{
    text-align: right!important;

}
.PrecioMant {

    /* background-color: rgba(207, 203, 203, 0.705); */
    /* margin-top: -2.6%; */
    text-align: right!important;
    font-family: 'Playfair Display', serif;
margin-right: 4%;}

.MantTitulo {
    font-size: 2vw;

}

.linea {
    margin-top: 0vw;
    border-top: 3px #B22222 solid;
}



.prue {
    min-height: 40vw;
    background-size: 25px 50px;
    background-size: 100% 100%;
    background-image: url(../img/mantenimiento.jpg);
    color: rgba(255, 255, 255, 0.788);

    clear: both !important;
    width: 100% !important;
    margin: 0 auto 0 !important;
    position: relative !important;
    max-width: 80% !important;


}

.prue:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.157);
}


.card {
    margin: 1em;
    perspective: 1500px;
  }
  .card .content {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
  }











  
  a:link:hover{
    color:black;
  }

  a:link {text-decoration: none;
  color:black }

.textoCard{
  color:black;
}
.textoCard:hover{
  color:black;
}
  .centrar:hover {
    transform: scale(1.07); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .par{
    color:black;

    border-top: 3px #B22222 solid;
  }



.tachado{
    text-decoration:line-through;
    color: grey!important;
}

@media screen and (max-width: 700px) {
    .MantenimientoTitle {
        margin-top: 39%;

        font-size: 1.2rem;

    }

    .DescTitle {
        font-size: 0.5rem;
        margin-top: 40%;
        display: none;

    }

    .BotonMantenimiento {
        top: 95%;
        font-size: 1rem!important;
        display: none;

    }
}