.MantenimientoTitle {

    position: absolute;
    top: 28%;
    left: 27%;
    transform: translate(-50%, -100%) !important;
    font-size: 4vw !important;
    font-family: 'Playfair Display', serif;
    color: white !important;
    width: 45%;
    font-family: 'Playfair Display', serif;
}

.DescTitle {
    margin-top: 3vw;

    color: white !important;
    position: absolute;
    top: 45%;
    left: 20%;
    width: 30%;
    transform: translate(-50%, -100%) !important;
    font-size: 1.4vw !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.BotonMantenimiento {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-size: 2vw !important;

    padding: 0.5vw 2vw;


    position: absolute;
    top: 65%;
    left: 12%;
    transform: translate(-50%, -100%) !important;
    background: none;
    border: 1px white solid;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    -webkit-user-select: none;
    /* for button */
    -webkit-appearance: button;
    /* for input */
    -moz-user-select: none;
    -ms-user-select: none;

}

.BotonMantenimiento:hover {
    background-color: rgba(255, 255, 255, 0.294);
}

.DescMant {

    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50%;
    font-family: 'Roboto Mono', monospace;
    font-size:0.9rem;

}

hr.verticalMant {
    width: 2px;
    height: 2vw;
    background-color: #B22222;
    margin-top: 3vw;
    /* or height in PX */
}

.TituloMAnt1 {
    margin-top: 2vw;
    text-align: center !important;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
}

.TituloMAnt2 {
    text-align: center !important;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 2vw;
    font-size: 1.5rem;

}

.LineaMant {
    width: 10%;
    background: #B22222 !important;
}


.botonInfo {
    color: #fff !important;
    background: #B22222;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    min-width: 170px;
    max-width: 100%;
    padding: 0.8vw;
    display: inline-block;
    vertical-align: middle;
    max-height: 50px;

}

.botPrueba {
    margin-bottom: 5% !important;
}

.margenmant {
    border-bottom: 1px rgba(128, 128, 128, 0.308) solid;
    width: 100%;
    font-size: 1.2vw;
}

.TituloMAnt {
    background-color: #B22222;
    color: white;
    padding-bottom: 1vw;
}

.PrecioMant {

    background-color: rgba(207, 203, 203, 0.705);
    margin-top: -2.6%;
}

.MantTitulo {
    font-size: 2vw;

}

.linea {
    margin-top: 0vw;
    border-top: 3px #B22222 solid;
}



.prue {
    min-height: 40vw;
    background-size: 25px 50px;
    background-size: 100% 100%;
    background-image: url(../img/mantenimiento.jpg);
    color: rgba(255, 255, 255, 0.788);

    clear: both !important;
    width: 100% !important;
    margin: 0 auto 0 !important;
    position: relative !important;
    max-width: 80% !important;


}

.prue:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.157);
}