.TiendaOnlineTitle{

    position: absolute;
    top: 30%;
    left:30%;
    transform: translate(-50%, -100%)!important;
    font-size:3vw !important;
    font-family: 'Playfair Display', serif;
    color: white!important;
width: 50%;

}
.TiendaOnlineTitleDesc2{
    color: white!important;
    position: absolute;
    top:45%;
    left: 20%;
    width: 30%;
    transform: translate(-50%, -100%)!important;
    font-size:1.4vw !important;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.FotoOrdenador{
width: 100%;
}
.DivTiendaInfo{
margin-top: 2vw !important;
margin-bottom: 2vw !important;
text-align: center;

}
.DivEntradaTienda{
    margin-bottom: 5vw !important;
    min-width: 80%!important;
  padding-left: 6vw!important;

}
.EntradaTienda{
    text-align: center;
    margin-top: 5vw;
    margin-bottom: 5vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3vw;

}
.fotoIconosTienda{
    display:block;
    margin:auto;
    height: 5vw;
    width: 5vw;

}

.FotoTienda{
    min-height:40vw;
      background-size: 25px 50px;
      background-size: 100% 100%;
      background-image: url(../img/PRU1.jpg);

      clear: both!important;
      width: 100% !important;
      margin: 0 auto 0 !important;
      position: relative !important;
      max-width: 80% !important;
    
    
    }
   
    /* color:rgba(255, 255, 255, 0.788); */

    .FotoTienda:before {
        content:'';
        position: absolute;
            top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.137);
    }