.TiendaOnlineTitle {

    position: absolute;
    margin-top: 13%;
    margin-left: 30%;
    transform: translate(-50%, -100%) !important;
    font-family: 'Playfair Display', serif;
    color: white !important;
    width: 50%;

}

.TiendaOnlineTitleDesc2 {
    color: white !important;
    position: absolute;
    margin-top: 20%;
    margin-left: 20%;
    width: 30%;

    transform: translate(-50%, -100%) !important;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.FotoOrdenador {
    width: 100%;

}

.DivTiendaInfo {
    margin-top: 2vw !important;
    margin-bottom: 2vw !important;
    text-align: center;
    width: 85%;
    margin-left: auto !important;
    margin-right: auto !important;

}

.DivEntradaTienda {
    margin-bottom: 5vw !important;
    width: 89% !important;
    padding-left: 6vw !important;

    margin-left: auto !important;
    margin-right: auto !important;
}

.TituloSec2Tienda {
    font-family: Georgia, 'Times New Roman', Times, serif;

    font-weight: 600;
}

.BotoTienda {
    font-family: Georgia, 'Times New Roman', Times, serif !important;

    padding: 0.5vw 2vw;


    position: absolute;
    top: 65%;
    left: 12%;
    transform: translate(-50%, -100%) !important;
    background: none;
    border: 1px white solid;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    -webkit-user-select: none;
    /* for button */
    -webkit-appearance: button;
    /* for input */
    -moz-user-select: none;
    -ms-user-select: none;
    color: white;
}

.BotoTienda:hover {
    background-color: rgba(255, 255, 255, 0.294);
}

.DescCaractTiend {

    font-family: 'Roboto Mono', monospace;
}

.TituloDescCarac {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.DescTienda {
    font-family: 'Roboto Mono', monospace;

}

.EntradaTienda2 {
    text-align: center;
    margin-bottom: 5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.EntradaTienda {
    text-align: center;
    margin-top: 5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.fotoIconosTienda {
    display: block;
    margin: auto;
    height: 5rem;
    width: 5rem;

}

.FotoTienda {
    min-height: 40vw;
    background-size: 25px 50px;
    background-size: 100% 100%;
    background-image: url(../img/PRU1.jpg);

    clear: both !important;
    width: 100% !important;
    margin: 0 auto 0 !important;
    position: relative !important;
    max-width: 80% !important;


}

/* color:rgba(255, 255, 255, 0.788); */

.FotoTienda:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.137);
}
